.menu {
  border: 1px solid white;
  border-radius: 5px;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 20%;
}

.menu-button {
  background: transparent;
  border: none;
  color: rgb(237, 237, 68);
  font-size: 1.25em;
  height: 4em;
  margin: 0;
  width: 100%;
}

.menu-button:hover {
  background: rgba(237, 237, 68, 0.65);
  color: #141527;
}

.menu-header {
  font-size: 2.2em;
  margin: 20px 0;
}
