h1 {
  color: white;
  width: 100%;
}

.news-container {
  padding: 15px;
  margin: 0 0 0 20%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.news-header {
  margin: 15px;
}
