p, h2 {
  color: white;
}

.news-article {
  border: 1px solid yellow;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 45%;
}

.article-img {
  height: auto;
  margin: 10px;
  width: 85%;
}

a {
  color: yellow;
  font-size: 1.15em;
}

p {
  font-size: 1.15em;
  margin: 10px;
}
